@import url('~@angular/material/prebuilt-themes/deeppurple-amber.css');
@import url('~leaflet/dist/leaflet.css');

html,
body{
    height: 100%;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background: #F44336;
  color: white;
  padding-right: 5px !important;
}

.filterIcon{
  padding-top: 12px;
  height: 12px;
  display: block;
}

.mat-typography h1 {
  font-family: "Titan One";
  color: #2C2B25;
  font-weight: normal;
  font-size: 32px;
}

.mat-typography h2 {
  font-family: "Titan One";
  color: #2C2B25;
  font-weight: normal;
  font-size: 26px;
}

.sub-title-down,
.sub-title-up{
  background-color: #BDBBB0;
  padding-top: 25px;
  height: 60px;
  text-align: center;
}
  .sub-title-down{
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 80%);
  }
  .sub-title-up{
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  }

.divider-down,
.divider-up{
  background-color: #BDBBB0;
  height: 35px;
}
  .divider-down{
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 55%);
  }
  .divider-up{
    clip-path: polygon(0 45%, 100% 0, 100% 55%, 0% 100%);
  }




