html,
body{
    height: 100%;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background: #F44336;
  color: white;
  padding-right: 5px !important;
}

.filterIcon{
  padding-top: 12px;
  height: 12px;
  display: block;
}
