<div *ngIf="isLoading" class="loading">
  <mat-card mat-card appearance="outlined">
    <div class="loading-card">
      <div>Loading Calendar</div>
      <mat-spinner class="spinner-color" [diameter]="30"></mat-spinner>
    </div>
  </mat-card>
</div>
<div *ngIf="!isLoading">
  <div class="page-header"><h1>{{headerText}}</h1></div>
  <div class="page">
      <mat-card appearance="outlined" class="quarters-card">
        <mat-card-header>
          <div class="quarters-header-text">Quarters</div>
        </mat-card-header>
        <mat-card-content>
          <div class="quarter-content">
            <div>
              <button mat-stroked-button class="quarter-button bloomen-button" (click)="clickedBloomen()">Bloomen</button>
              <button mat-stroked-button class="quarter-button sumsun-button" (click)="clickedSumsun()">Sumsun</button>
            </div>
            <div>
              <button mat-stroked-button class="quarter-button leaflet-button" (click)="clickedLeaflet()">Leaflet</button>
              <button mat-stroked-button class="quarter-button frizwa-button" (click)="clickedFrizwa()">Frizwa</button>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
    <div class="calendar-container">
      <mat-grid-list cols="7" rowHeight="3:1">
        <div class="bloomen-calendar" *ngIf="currentSelectedQuarter == 1">
          <mat-grid-tile class="day-indicator">Mon</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Tue</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Wed</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Thu</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Fri</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sat</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sun</mat-grid-tile>
          <mat-grid-tile id="day1" class="day">1</mat-grid-tile>
          <mat-grid-tile id="day2" class="day">2</mat-grid-tile>
          <mat-grid-tile id="day3" class="day">3</mat-grid-tile>
          <mat-grid-tile id="day4" class="day">4</mat-grid-tile>
          <mat-grid-tile id="day5" class="day">5</mat-grid-tile>
          <mat-grid-tile id="day6" class="day">6</mat-grid-tile>
          <mat-grid-tile id="day7" class="day">7</mat-grid-tile>
          <mat-grid-tile id="day8" class="day">8</mat-grid-tile>
          <mat-grid-tile id="day9" class="day">9</mat-grid-tile>
          <mat-grid-tile id="day10" class="day">10</mat-grid-tile>
          <mat-grid-tile id="day11" class="day">11</mat-grid-tile>
          <mat-grid-tile id="day12" class="day">12</mat-grid-tile>
          <mat-grid-tile id="day13" class="day">13</mat-grid-tile>
          <mat-grid-tile id="day14" class="day">14</mat-grid-tile>
          <mat-grid-tile id="day15" class="day">15</mat-grid-tile>
          <mat-grid-tile id="day16" class="day">16</mat-grid-tile>
          <mat-grid-tile id="day17" class="day">17</mat-grid-tile>
          <mat-grid-tile id="day18" class="day">18</mat-grid-tile>
          <mat-grid-tile id="day19" class="day">19</mat-grid-tile>
          <mat-grid-tile id="day20" class="day">20</mat-grid-tile>
          <mat-grid-tile id="day21" class="day">21</mat-grid-tile>
          <mat-grid-tile id="day22" class="day">22</mat-grid-tile>
          <mat-grid-tile id="day23" class="day">23</mat-grid-tile>
          <mat-grid-tile id="day24" class="day">24</mat-grid-tile>
          <mat-grid-tile id="day25" class="day">25</mat-grid-tile>
          <mat-grid-tile id="day26" class="day">26</mat-grid-tile>
          <mat-grid-tile id="day27" class="day">27</mat-grid-tile>
          <mat-grid-tile id="day28" class="day">28</mat-grid-tile>
          <mat-grid-tile id="day29" class="day">29</mat-grid-tile>
          <mat-grid-tile id="day30" class="day">30</mat-grid-tile>
          <mat-grid-tile id="day31" class="day">31</mat-grid-tile>
          <mat-grid-tile id="day32" class="day">32</mat-grid-tile>
          <mat-grid-tile id="day33" class="day">33</mat-grid-tile>
          <mat-grid-tile id="day34" class="day">34</mat-grid-tile>
          <mat-grid-tile id="day35" class="day">35</mat-grid-tile>
          <mat-grid-tile id="day36" class="day">36</mat-grid-tile>
          <mat-grid-tile id="day37" class="day event" matTooltip="Aubron's Birthday" matTooltipClass="calendar-tooltip">37</mat-grid-tile>
          <mat-grid-tile id="day38" class="day">38</mat-grid-tile>
          <mat-grid-tile id="day39" class="day">39</mat-grid-tile>
          <mat-grid-tile id="day40" class="day">40</mat-grid-tile>
          <mat-grid-tile id="day41" class="day">41</mat-grid-tile>
          <mat-grid-tile id="day42" class="day">42</mat-grid-tile>
          <mat-grid-tile id="day43" class="day">43</mat-grid-tile>
          <mat-grid-tile id="day44" class="day">44</mat-grid-tile>
          <mat-grid-tile id="day45" class="day">45</mat-grid-tile>
          <mat-grid-tile id="day46" class="day">46</mat-grid-tile>
          <mat-grid-tile id="day47" class="day">47</mat-grid-tile>
          <mat-grid-tile id="day48" class="day">48</mat-grid-tile>
          <mat-grid-tile id="day49" class="day">49</mat-grid-tile>
          <mat-grid-tile id="day50" class="day">50</mat-grid-tile>
          <mat-grid-tile id="day51" class="day">51</mat-grid-tile>
          <mat-grid-tile id="day52" class="day">52</mat-grid-tile>
          <mat-grid-tile id="day53" class="day">53</mat-grid-tile>
          <mat-grid-tile id="day54" class="day">54</mat-grid-tile>
          <mat-grid-tile id="day55" class="day">55</mat-grid-tile>
          <mat-grid-tile id="day56" class="day">56</mat-grid-tile>
          <mat-grid-tile id="day57" class="day">57</mat-grid-tile>
          <mat-grid-tile id="day58" class="day">58</mat-grid-tile>
          <mat-grid-tile id="day59" class="day">59</mat-grid-tile>
          <mat-grid-tile id="day60" class="day">60</mat-grid-tile>
          <mat-grid-tile id="day61" class="day">61</mat-grid-tile>
          <mat-grid-tile id="day62" class="day">62</mat-grid-tile>
          <mat-grid-tile id="day63" class="day">63</mat-grid-tile>
          <mat-grid-tile id="day64" class="day">64</mat-grid-tile>
          <mat-grid-tile id="day65" class="day">65</mat-grid-tile>
          <mat-grid-tile id="day66" class="day">66</mat-grid-tile>
          <mat-grid-tile id="day67" class="day">67</mat-grid-tile>
          <mat-grid-tile id="day68" class="day">68</mat-grid-tile>
          <mat-grid-tile id="day69" class="day">69</mat-grid-tile>
          <mat-grid-tile id="day70" class="day">70</mat-grid-tile>
          <mat-grid-tile id="day71" class="day">71</mat-grid-tile>
          <mat-grid-tile id="day72" class="day">72</mat-grid-tile>
          <mat-grid-tile id="day73" class="day">73</mat-grid-tile>
          <mat-grid-tile id="day74" class="day">74</mat-grid-tile>
          <mat-grid-tile id="day75" class="day">75</mat-grid-tile>
          <mat-grid-tile id="day76" class="day">76</mat-grid-tile>
          <mat-grid-tile id="day77" class="day">77</mat-grid-tile>
          <mat-grid-tile id="day78" class="day">78</mat-grid-tile>
          <mat-grid-tile id="day79" class="day">79</mat-grid-tile>
          <mat-grid-tile id="day80" class="day">80</mat-grid-tile>
          <mat-grid-tile id="day81" class="day">81</mat-grid-tile>
          <mat-grid-tile id="day82" class="day">82</mat-grid-tile>
          <mat-grid-tile id="day83" class="day">83</mat-grid-tile>
          <mat-grid-tile id="day84" class="day">84</mat-grid-tile>
          <mat-grid-tile id="day85" class="day">85</mat-grid-tile>
          <mat-grid-tile id="day86" class="day">86</mat-grid-tile>
          <mat-grid-tile id="day87" class="day">87</mat-grid-tile>
          <mat-grid-tile id="day88" class="day">88</mat-grid-tile>
          <mat-grid-tile id="day89" class="day">89</mat-grid-tile>
          <mat-grid-tile id="day90" class="day">90</mat-grid-tile>
          <mat-grid-tile id="day91" class="day">91</mat-grid-tile>
        </div>
        <div class="sumsun-calendar" *ngIf="currentSelectedQuarter == 2">
          <mat-grid-tile class="day-indicator">Mon</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Tue</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Wed</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Thu</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Fri</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sat</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sun</mat-grid-tile>
          <mat-grid-tile id="day92" class="day">1</mat-grid-tile>
          <mat-grid-tile id="day93" class="day">2</mat-grid-tile>
          <mat-grid-tile id="day94" class="day">3</mat-grid-tile>
          <mat-grid-tile id="day95" class="day">4</mat-grid-tile>
          <mat-grid-tile id="day96" class="day">5</mat-grid-tile>
          <mat-grid-tile id="day97" class="day">6</mat-grid-tile>
          <mat-grid-tile id="day98" class="day">7</mat-grid-tile>
          <mat-grid-tile id="day99" class="day">8</mat-grid-tile>
          <mat-grid-tile id="day100" class="day">9</mat-grid-tile>
          <mat-grid-tile id="day101" class="day">10</mat-grid-tile>
          <mat-grid-tile id="day102" class="day">11</mat-grid-tile>
          <mat-grid-tile id="day103" class="day">12</mat-grid-tile>
          <mat-grid-tile id="day104" class="day">13</mat-grid-tile>
          <mat-grid-tile id="day105" class="day">14</mat-grid-tile>
          <mat-grid-tile id="day106" class="day">15</mat-grid-tile>
          <mat-grid-tile id="day107" class="day">16</mat-grid-tile>
          <mat-grid-tile id="day108" class="day">17</mat-grid-tile>
          <mat-grid-tile id="day109" class="day">18</mat-grid-tile>
          <mat-grid-tile id="day110" class="day">19</mat-grid-tile>
          <mat-grid-tile id="day111" class="day">20</mat-grid-tile>
          <mat-grid-tile id="day112" class="day">21</mat-grid-tile>
          <mat-grid-tile id="day113" class="day">22</mat-grid-tile>
          <mat-grid-tile id="day114" class="day">23</mat-grid-tile>
          <mat-grid-tile id="day115" class="day">24</mat-grid-tile>
          <mat-grid-tile id="day116" class="day">25</mat-grid-tile>
          <mat-grid-tile id="day117" class="day">26</mat-grid-tile>
          <mat-grid-tile id="day118" class="day">27</mat-grid-tile>
          <mat-grid-tile id="day119" class="day">28</mat-grid-tile>
          <mat-grid-tile id="day120" class="day">29</mat-grid-tile>
          <mat-grid-tile id="day121" class="day">30</mat-grid-tile>
          <mat-grid-tile id="day122" class="day">31</mat-grid-tile>
          <mat-grid-tile id="day123" class="day">32</mat-grid-tile>
          <mat-grid-tile id="day124" class="day">33</mat-grid-tile>
          <mat-grid-tile id="day125" class="day">34</mat-grid-tile>
          <mat-grid-tile id="day126" class="day">35</mat-grid-tile>
          <mat-grid-tile id="day127" class="day">36</mat-grid-tile>
          <mat-grid-tile id="day128" class="day">37</mat-grid-tile>
          <mat-grid-tile id="day129" class="day">38</mat-grid-tile>
          <mat-grid-tile id="day130" class="day">39</mat-grid-tile>
          <mat-grid-tile id="day131" class="day">40</mat-grid-tile>
          <mat-grid-tile id="day132" class="day">41</mat-grid-tile>
          <mat-grid-tile id="day133" class="day">42</mat-grid-tile>
          <mat-grid-tile id="day134" class="day">43</mat-grid-tile>
          <mat-grid-tile id="day135" class="day">44</mat-grid-tile>
          <mat-grid-tile id="day136" class="day sumsun-event" matTooltip="Mizude Sumsun Festival" matTooltipClass="calendar-tooltip">45</mat-grid-tile>
          <mat-grid-tile id="day137" class="day sumsun-event" matTooltip="Mizude Sumsun Festival" matTooltipClass="calendar-tooltip">46</mat-grid-tile>
          <mat-grid-tile id="day138" class="day">47</mat-grid-tile>
          <mat-grid-tile id="day139" class="day">48</mat-grid-tile>
          <mat-grid-tile id="day140" class="day">49</mat-grid-tile>
          <mat-grid-tile id="day141" class="day">50</mat-grid-tile>
          <mat-grid-tile id="day142" class="day">51</mat-grid-tile>
          <mat-grid-tile id="day143" class="day">52</mat-grid-tile>
          <mat-grid-tile id="day144" class="day">53</mat-grid-tile>
          <mat-grid-tile id="day145" class="day">54</mat-grid-tile>
          <mat-grid-tile id="day146" class="day">55</mat-grid-tile>
          <mat-grid-tile id="day147" class="day">56</mat-grid-tile>
          <mat-grid-tile id="day148" class="day">57</mat-grid-tile>
          <mat-grid-tile id="day149" class="day">58</mat-grid-tile>
          <mat-grid-tile id="day150" class="day">59</mat-grid-tile>
          <mat-grid-tile id="day151" class="day">60</mat-grid-tile>
          <mat-grid-tile id="day152" class="day">61</mat-grid-tile>
          <mat-grid-tile id="day153" class="day">62</mat-grid-tile>
          <mat-grid-tile id="day154" class="day">63</mat-grid-tile>
          <mat-grid-tile id="day155" class="day">64</mat-grid-tile>
          <mat-grid-tile id="day156" class="day">65</mat-grid-tile>
          <mat-grid-tile id="day157" class="day">66</mat-grid-tile>
          <mat-grid-tile id="day158" class="day">67</mat-grid-tile>
          <mat-grid-tile id="day159" class="day">68</mat-grid-tile>
          <mat-grid-tile id="day160" class="day">69</mat-grid-tile>
          <mat-grid-tile id="day161" class="day">70</mat-grid-tile>
          <mat-grid-tile id="day162" class="day">71</mat-grid-tile>
          <mat-grid-tile id="day163" class="day">72</mat-grid-tile>
          <mat-grid-tile id="day164" class="day">73</mat-grid-tile>
          <mat-grid-tile id="day165" class="day event" matTooltip="Nexire's Birthday" matTooltipClass="calendar-tooltip">74</mat-grid-tile>
          <mat-grid-tile id="day166" class="day">75</mat-grid-tile>
          <mat-grid-tile id="day167" class="day">76</mat-grid-tile>
          <mat-grid-tile id="day168" class="day">77</mat-grid-tile>
          <mat-grid-tile id="day169" class="day">78</mat-grid-tile>
          <mat-grid-tile id="day170" class="day">79</mat-grid-tile>
          <mat-grid-tile id="day171" class="day">80</mat-grid-tile>
          <mat-grid-tile id="day172" class="day">81</mat-grid-tile>
          <mat-grid-tile id="day173" class="day">82</mat-grid-tile>
          <mat-grid-tile id="day174" class="day">83</mat-grid-tile>
          <mat-grid-tile id="day175" class="day">84</mat-grid-tile>
          <mat-grid-tile id="day176" class="day">85</mat-grid-tile>
          <mat-grid-tile id="day177" class="day">86</mat-grid-tile>
          <mat-grid-tile id="day178" class="day">87</mat-grid-tile>
          <mat-grid-tile id="day179" class="day">88</mat-grid-tile>
          <mat-grid-tile id="day180" class="day">89</mat-grid-tile>
          <mat-grid-tile id="day181" class="day">90</mat-grid-tile>
          <mat-grid-tile id="day182" class="day">91</mat-grid-tile>
        </div>
        <div class="leaflet-calendar" *ngIf="currentSelectedQuarter == 3">
          <mat-grid-tile class="day-indicator">Mon</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Tue</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Wed</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Thu</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Fri</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sat</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sun</mat-grid-tile>
          <mat-grid-tile id="day183" class="day">1</mat-grid-tile>
          <mat-grid-tile id="day184" class="day">2</mat-grid-tile>
          <mat-grid-tile id="day185" class="day">3</mat-grid-tile>
          <mat-grid-tile id="day186" class="day">4</mat-grid-tile>
          <mat-grid-tile id="day187" class="day">5</mat-grid-tile>
          <mat-grid-tile id="day188" class="day">6</mat-grid-tile>
          <mat-grid-tile id="day189" class="day">7</mat-grid-tile>
          <mat-grid-tile id="day190"class="day">8</mat-grid-tile>
          <mat-grid-tile id="day191"class="day">9</mat-grid-tile>
          <mat-grid-tile id="day192"class="day">10</mat-grid-tile>
          <mat-grid-tile id="day193"class="day">11</mat-grid-tile>
          <mat-grid-tile id="day194"class="day">12</mat-grid-tile>
          <mat-grid-tile id="day195"class="day">13</mat-grid-tile>
          <mat-grid-tile id="day196"class="day">14</mat-grid-tile>
          <mat-grid-tile id="day197"class="day">15</mat-grid-tile>
          <mat-grid-tile id="day198"class="day">16</mat-grid-tile>
          <mat-grid-tile id="day199"class="day">17</mat-grid-tile>
          <mat-grid-tile id="day200"class="day">18</mat-grid-tile>
          <mat-grid-tile id="day201"class="day">19</mat-grid-tile>
          <mat-grid-tile id="day202"class="day">20</mat-grid-tile>
          <mat-grid-tile id="day203"class="day">21</mat-grid-tile>
          <mat-grid-tile id="day204"class="day">22</mat-grid-tile>
          <mat-grid-tile id="day205"class="day">23</mat-grid-tile>
          <mat-grid-tile id="day206"class="day">24</mat-grid-tile>
          <mat-grid-tile id="day207"class="day">25</mat-grid-tile>
          <mat-grid-tile id="day208"class="day">26</mat-grid-tile>
          <mat-grid-tile id="day209"class="day">27</mat-grid-tile>
          <mat-grid-tile id="day210" class="day">28</mat-grid-tile>
          <mat-grid-tile id="day211" class="day">29</mat-grid-tile>
          <mat-grid-tile id="day212" class="day">30</mat-grid-tile>
          <mat-grid-tile id="day213" class="day">31</mat-grid-tile>
          <mat-grid-tile id="day214" class="day">32</mat-grid-tile>
          <mat-grid-tile id="day215" class="day">33</mat-grid-tile>
          <mat-grid-tile id="day216" class="day">34</mat-grid-tile>
          <mat-grid-tile id="day217" class="day">35</mat-grid-tile>
          <mat-grid-tile id="day218" class="day">36</mat-grid-tile>
          <mat-grid-tile id="day219" class="day event" matTooltip="Kar'Chi's Birthday" matTooltipClass="calendar-tooltip">37</mat-grid-tile>
          <mat-grid-tile id="day220" class="day">38</mat-grid-tile>
          <mat-grid-tile id="day221" class="day">39</mat-grid-tile>
          <mat-grid-tile id="day222" class="day">40</mat-grid-tile>
          <mat-grid-tile id="day223" class="day">41</mat-grid-tile>
          <mat-grid-tile id="day224" class="day">42</mat-grid-tile>
          <mat-grid-tile id="day225" class="day">43</mat-grid-tile>
          <mat-grid-tile id="day226" class="day">44</mat-grid-tile>
          <mat-grid-tile id="day227" class="day">45</mat-grid-tile>
          <mat-grid-tile id="day228" class="day">46</mat-grid-tile>
          <mat-grid-tile id="day229" class="day">47</mat-grid-tile>
          <mat-grid-tile id="day230" class="day">48</mat-grid-tile>
          <mat-grid-tile id="day231" class="day">49</mat-grid-tile>
          <mat-grid-tile id="day232" class="day">50</mat-grid-tile>
          <mat-grid-tile id="day233" class="day">51</mat-grid-tile>
          <mat-grid-tile id="day234" class="day">52</mat-grid-tile>
          <mat-grid-tile id="day235" class="day">53</mat-grid-tile>
          <mat-grid-tile id="day236" class="day">54</mat-grid-tile>
          <mat-grid-tile id="day237" class="day">55</mat-grid-tile>
          <mat-grid-tile id="day238" class="day">56</mat-grid-tile>
          <mat-grid-tile id="day239" class="day">57</mat-grid-tile>
          <mat-grid-tile id="day240" class="day">58</mat-grid-tile>
          <mat-grid-tile id="day241" class="day">59</mat-grid-tile>
          <mat-grid-tile id="day242" class="day">60</mat-grid-tile>
          <mat-grid-tile id="day243" class="day">61</mat-grid-tile>
          <mat-grid-tile id="day244" class="day">62</mat-grid-tile>
          <mat-grid-tile id="day245" class="day">63</mat-grid-tile>
          <mat-grid-tile id="day246" class="day">64</mat-grid-tile>
          <mat-grid-tile id="day247" class="day">65</mat-grid-tile>
          <mat-grid-tile id="day248" class="day">66</mat-grid-tile>
          <mat-grid-tile id="day249" class="day">67</mat-grid-tile>
          <mat-grid-tile id="day250" class="day">68</mat-grid-tile>
          <mat-grid-tile id="day251" class="day">69</mat-grid-tile>
          <mat-grid-tile id="day252" class="day">70</mat-grid-tile>
          <mat-grid-tile id="day253" class="day">71</mat-grid-tile>
          <mat-grid-tile id="day254" class="day event" matTooltip="Scrat's Birthday" matTooltipClass="calendar-tooltip">72</mat-grid-tile>
          <mat-grid-tile id="day255" class="day">73</mat-grid-tile>
          <mat-grid-tile id="day256" class="day">74</mat-grid-tile>
          <mat-grid-tile id="day257" class="day">75</mat-grid-tile>
          <mat-grid-tile id="day258" class="day">76</mat-grid-tile>
          <mat-grid-tile id="day259" class="day">77</mat-grid-tile>
          <mat-grid-tile id="day260" class="day">78</mat-grid-tile>
          <mat-grid-tile id="day261" class="day">79</mat-grid-tile>
          <mat-grid-tile id="day262" class="day">80</mat-grid-tile>
          <mat-grid-tile id="day263" class="day">81</mat-grid-tile>
          <mat-grid-tile id="day264" class="day">82</mat-grid-tile>
          <mat-grid-tile id="day265" class="day">83</mat-grid-tile>
          <mat-grid-tile id="day266" class="day">84</mat-grid-tile>
          <mat-grid-tile id="day267" class="day">85</mat-grid-tile>
          <mat-grid-tile id="day268" class="day">86</mat-grid-tile>
          <mat-grid-tile id="day269" class="day">87</mat-grid-tile>
          <mat-grid-tile id="day270" class="day">88</mat-grid-tile>
          <mat-grid-tile id="day271" class="day">89</mat-grid-tile>
          <mat-grid-tile id="day272" class="day">90</mat-grid-tile>
          <mat-grid-tile id="day273" class="day">91</mat-grid-tile>
        </div>
        <div class="frizwa-calendar" *ngIf="currentSelectedQuarter == 4">
          <mat-grid-tile class="day-indicator">Mon</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Tue</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Wed</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Thu</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Fri</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sat</mat-grid-tile>
          <mat-grid-tile class="day-indicator">Sun</mat-grid-tile>
          <mat-grid-tile id="day274" class="day event" matTooltip="Ulfgar's Birthday" matTooltipClass="calendar-tooltip">1</mat-grid-tile>
          <mat-grid-tile id="day275" class="day">2</mat-grid-tile>
          <mat-grid-tile id="day276" class="day">3</mat-grid-tile>
          <mat-grid-tile id="day277" class="day">4</mat-grid-tile>
          <mat-grid-tile id="day278" class="day">5</mat-grid-tile>
          <mat-grid-tile id="day279" class="day">6</mat-grid-tile>
          <mat-grid-tile id="day280" class="day">7</mat-grid-tile>
          <mat-grid-tile id="day281" class="day">8</mat-grid-tile>
          <mat-grid-tile id="day282" class="day">9</mat-grid-tile>
          <mat-grid-tile id="day283" class="day">10</mat-grid-tile>
          <mat-grid-tile id="day284" class="day">11</mat-grid-tile>
          <mat-grid-tile id="day285" class="day">12</mat-grid-tile>
          <mat-grid-tile id="day286" class="day">13</mat-grid-tile>
          <mat-grid-tile id="day287" class="day">14</mat-grid-tile>
          <mat-grid-tile id="day288" class="day">15</mat-grid-tile>
          <mat-grid-tile id="day289" class="day">16</mat-grid-tile>
          <mat-grid-tile id="day290" class="day">17</mat-grid-tile>
          <mat-grid-tile id="day291" class="day">18</mat-grid-tile>
          <mat-grid-tile id="day292" class="day">19</mat-grid-tile>
          <mat-grid-tile id="day293" class="day">20</mat-grid-tile>
          <mat-grid-tile id="day294" class="day">21</mat-grid-tile>
          <mat-grid-tile id="day295" class="day">22</mat-grid-tile>
          <mat-grid-tile id="day296" class="day">23</mat-grid-tile>
          <mat-grid-tile id="day297" class="day">24</mat-grid-tile>
          <mat-grid-tile id="day298" class="day">25</mat-grid-tile>
          <mat-grid-tile id="day299" class="day">26</mat-grid-tile>
          <mat-grid-tile id="day300" class="day">27</mat-grid-tile>
          <mat-grid-tile id="day301" class="day">28</mat-grid-tile>
          <mat-grid-tile id="day302" class="day">29</mat-grid-tile>
          <mat-grid-tile id="day303" class="day">30</mat-grid-tile>
          <mat-grid-tile id="day304" class="day">31</mat-grid-tile>
          <mat-grid-tile id="day305" class="day">32</mat-grid-tile>
          <mat-grid-tile id="day306" class="day">33</mat-grid-tile>
          <mat-grid-tile id="day307" class="day">34</mat-grid-tile>
          <mat-grid-tile id="day308" class="day">35</mat-grid-tile>
          <mat-grid-tile id="day309" class="day">36</mat-grid-tile>
          <mat-grid-tile id="day310" class="day">37</mat-grid-tile>
          <mat-grid-tile id="day311" class="day">38</mat-grid-tile>
          <mat-grid-tile id="day312" class="day">39</mat-grid-tile>
          <mat-grid-tile id="day313" class="day">40</mat-grid-tile>
          <mat-grid-tile id="day314" class="day">41</mat-grid-tile>
          <mat-grid-tile id="day315" class="day">42</mat-grid-tile>
          <mat-grid-tile id="day316" class="day">43</mat-grid-tile>
          <mat-grid-tile id="day317" class="day event" matTooltip="Mander's Birthday" matTooltipClass="calendar-tooltip">44</mat-grid-tile>
          <mat-grid-tile id="day318" class="day">45</mat-grid-tile>
          <mat-grid-tile id="day319" class="day">46</mat-grid-tile>
          <mat-grid-tile id="day320" class="day">47</mat-grid-tile>
          <mat-grid-tile id="day321" class="day">48</mat-grid-tile>
          <mat-grid-tile id="day322" class="day">49</mat-grid-tile>
          <mat-grid-tile id="day323" class="day">50</mat-grid-tile>
          <mat-grid-tile id="day324" class="day">51</mat-grid-tile>
          <mat-grid-tile id="day325" class="day">52</mat-grid-tile>
          <mat-grid-tile id="day326" class="day">53</mat-grid-tile>
          <mat-grid-tile id="day327" class="day">54</mat-grid-tile>
          <mat-grid-tile id="day328" class="day">55</mat-grid-tile>
          <mat-grid-tile id="day329" class="day">56</mat-grid-tile>
          <mat-grid-tile id="day330" class="day">57</mat-grid-tile>
          <mat-grid-tile id="day331" class="day">58</mat-grid-tile>
          <mat-grid-tile id="day332" class="day">59</mat-grid-tile>
          <mat-grid-tile id="day333" class="day">60</mat-grid-tile>
          <mat-grid-tile id="day334" class="day">61</mat-grid-tile>
          <mat-grid-tile id="day335" class="day">62</mat-grid-tile>
          <mat-grid-tile id="day336" class="day">63</mat-grid-tile>
          <mat-grid-tile id="day337" class="day">64</mat-grid-tile>
          <mat-grid-tile id="day338" class="day">65</mat-grid-tile>
          <mat-grid-tile id="day339" class="day">66</mat-grid-tile>
          <mat-grid-tile id="day340" class="day">67</mat-grid-tile>
          <mat-grid-tile id="day341" class="day">68</mat-grid-tile>
          <mat-grid-tile id="day342" class="day">69</mat-grid-tile>
          <mat-grid-tile id="day343" class="day">70</mat-grid-tile>
          <mat-grid-tile id="day344" class="day">71</mat-grid-tile>
          <mat-grid-tile id="day345" class="day">72</mat-grid-tile>
          <mat-grid-tile id="day346" class="day">73</mat-grid-tile>
          <mat-grid-tile id="day347" class="day">74</mat-grid-tile>
          <mat-grid-tile id="day348" class="day">75</mat-grid-tile>
          <mat-grid-tile id="day349" class="day">76</mat-grid-tile>
          <mat-grid-tile id="day350" class="day event" matTooltip="Mackenzie's Birthday" matTooltipClass="calendar-tooltip">77</mat-grid-tile>
          <mat-grid-tile id="day351" class="day">78</mat-grid-tile>
          <mat-grid-tile id="day352" class="day">79</mat-grid-tile>
          <mat-grid-tile id="day353" class="day">80</mat-grid-tile>
          <mat-grid-tile id="day354" class="day">81</mat-grid-tile>
          <mat-grid-tile id="day355" class="day">82</mat-grid-tile>
          <mat-grid-tile id="day356" class="day">83</mat-grid-tile>
          <mat-grid-tile id="day357" class="day">84</mat-grid-tile>
          <mat-grid-tile id="day358" class="day">85</mat-grid-tile>
          <mat-grid-tile id="day359" class="day">86</mat-grid-tile>
          <mat-grid-tile id="day360" class="day">87</mat-grid-tile>
          <mat-grid-tile id="day361" class="day">88</mat-grid-tile>
          <mat-grid-tile id="day362" class="day">89</mat-grid-tile>
          <mat-grid-tile id="day363" class="day">90</mat-grid-tile>
          <mat-grid-tile id="day364" class="day">91</mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
</div>
