.page {
  width: 100%;
  height: 100%;
	display: flex;
  flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #2C2B25;
}

.mat-card-header {
  display: block;
  text-align: center;
  font-family: "Titan One";
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: normal;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button{
  background-color: #F8F8F2;
}

.pos-input{
  background-color: #F8F8F2;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: 100px;
}
