<mat-card appearance="outlined" class="gemstone-stats-card">
  <div class="info-part">
    <div class="name-price">
      <div>{{name}}</div>
      <div>{{currentPrice}}</div>
    </div>
    <div class="price-compares">
        <mat-card appearance="outlined" class="compare">
          <div>Today</div>
          <div>{{compareYesterday}}</div>
        </mat-card>
        <mat-card appearance="outlined" class="compare">
          <div>Past week</div>
          <div>{{compareWeek}}</div>
        </mat-card>
        <mat-card appearance="outlined" class="compare">
          <div>Past quarter</div>
          <div>{{compareQuarter}}</div>
        </mat-card>
        <mat-card appearance="outlined" class="compare">
          <div>Past year</div>
          <div>{{compareYear}}</div>
        </mat-card>
        <mat-card appearance="outlined" class="compare">
          <div>Past 5 years</div>
          <div>{{compareFiveYear}}</div>
        </mat-card>
        <mat-card appearance="outlined" class="compare">
          <div>Past 10 years</div>
          <div>{{compareTenYear}}</div>
        </mat-card>
    </div>
  </div>
  <div class="graph-part">
    <ngx-charts-line-chart
      [view]="[350, 200]"
      [scheme]="colorScheme"
      [results]="graphData"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [autoScale]="true">
      <ng-template #tooltipTemplate let-model="model">
        <div class="small-chart-tooltip">
          {{ model.value }} gold
        </div>
      </ng-template>
      <ng-template #seriesTooltipTemplate let-model="model">
        {{model[0].value}} gold
      </ng-template>
    </ngx-charts-line-chart>
  </div>
</mat-card>

