:host {
  --backgroundcolor: #fbfbf2;
  --potioncolor: rgb(196, 85, 196);
  --bubblecolor: rgb(245, 114, 245);
}

.page{
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  text-align: center;
  flex-wrap: wrap;
  color: #2C2B25;
}

.potion-container{
  margin-top: 15px;
  min-width: 180px;
  height: 225px;
  position: relative;
  display: flex;
  justify-content: center
}

.potion-cork {
  width: 35px;
  height: 55px;
  position: absolute;
  border-radius: 5px;
  border: 7px solid #2C2B25;
  border-bottom: none;
  background-color: var(--backgroundcolor);
  z-index: 2;
}

.potion-neck {
  width: 55px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  border: 7px solid #2C2B25;
  background-color: var(--backgroundcolor);
  top: 15px;
  z-index: 3;
}

.potion-bottle {
  position: absolute;
  border-radius: 50%;
  border: 7px solid #2C2B25;
  width: 150px;
  height: 150px;
  top: 50px;
  overflow: hidden;
}

.potion-content {
  position: absolute;
  border-radius: 50%;
  top: 7px;
  left: 7px;
  width: 136px;
  height: 136px;
  overflow: hidden;
  background-color: var(--backgroundcolor);
}

.potion-solidliquid {
  position: absolute;
  height: 80px;
  width: 150px;
  top: 75px;
  background-color: var(--potioncolor);
}

.potion-liquid {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 45px;
  background-color: var(--potioncolor);
}
.potion-liquid:nth-child(1) {
  left: -25px;
  border-radius: 70% 60% 60% 70%;
  animation: wave 3500ms linear infinite;
}

.potion-liquid:nth-child(2) {
  left: 15px;
  border-radius: 70% 70% 80% 70%;
  animation: wave 3100ms linear infinite;
}

.potion-liquid:nth-child(3) {
  left: 50px;
  border-radius: 60% 50% 50% 60%;
  animation: wave 3600ms linear infinite;
}

.potion-liquid:nth-child(4) {
  left: 80px;
  border-radius: 80% 70% 80% 70%;
  animation: wave 4000ms linear infinite;
}

.research-points{
  position: absolute;
  top: 125px;
}

.research-points-total{
  position: absolute;
  top: 145px;
}

/* Bubbles */
.bubble {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: var(--bubblecolor);
  border-radius: 50%;
  opacity: 0.6;
  z-index: 1;
}

.bubble:nth-last-child(1) {
  left: 20%;
  animation: bubble 4000ms infinite ease-in-out;
  animation-delay: 0s;
}

.bubble:nth-last-child(2) {
  left: 40%;
  width: 8px;
  height: 8px;
  animation: bubble 6000ms infinite ease-in-out;
  animation-delay: 1s;
}

.bubble:nth-last-child(3) {
  left: 60%;
  animation: bubble 5000ms infinite ease-in-out;
  animation-delay: 1.5s;
}

.bubble:nth-last-child(4) {
  left: 80%;
  width: 12px;
  height: 12px;
  animation: bubble 4000ms infinite ease-in-out;
  animation-delay: 2s;
}

.bubble:nth-last-child(5) {
  left: 50%;
  animation: bubble 3000ms infinite ease-in-out;
  animation-delay: 2.5s;
}

/* Coins */
.coins-container {
  position: relative;
  display: flex;
  justify-content: center
}

.coins-total {
  position: absolute;
  top: 40px;
}

.coin-sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #c49f39;
  transform: rotate(45deg);
  opacity: 0.0;
  animation: sparkle 3000ms linear infinite;
}

.coin-sparkle::before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #c49f39;
  transform: rotate(45deg);
}

.coin-sparkle:nth-last-child(1) {
  top: 155px;
  left: 60px;
}

.coin-sparkle:nth-last-child(2) {
  top: 135px;
  left: 85px;
  animation-delay: 2000ms;
  animation-duration: 2750ms;
}

.coin-sparkle:nth-last-child(3) {
  top: 105px;
  left: 35px;
  animation-delay: 2500ms;
}

.coin-sparkle:nth-last-child(4) {
  top: 130px;
  left: 145px;
  animation-delay: 1500ms;
  animation-duration: 3250ms;
}

.coin-sparkle:nth-last-child(5) {
  top: 180px;
  left: 110px;
  animation-delay: 500ms;
}

/* Roll tables */
.mat-mdc-card-header {
  display: block;
  text-align: center;
}

.rolltable-card {
  width: 35%;
  min-width: 260px;
  margin: 5px 15px 5px 15px;
}

.rolltable-card-header {
  font-family: "Titan One";
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: normal;
}

.rolltable-table {
  width: 75%;
  display: table;
  padding-left: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mat-mdc-header-cell {
  text-align: center;
}

.mat-mdc-cell {
  text-align: center;
}

.center-items {
  display: flex;
  justify-content: center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(5px);
  }
  100% {
    transform: rotate(360deg) translateY(0px);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: rotate(180deg);
  }
  50% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

