<div class="page-header">
  <h1>Luminaries</h1>
</div>
<div class="luminary-page">
  <div class="luminary-buttons">
      <luminary-button iconName="moon" title="Swirling Moon" subTitle="Staff of Luana" (onClick)="navigateToSwirlingMoon()"></luminary-button>
      <luminary-button title="Sun Khopesh" subTitle="Dagger of Solen" [disabled]="true"></luminary-button>
      <luminary-button [disabled]="true"></luminary-button>
      <luminary-button [disabled]="true"></luminary-button>
      <luminary-button [disabled]="true"></luminary-button>
  </div>
</div>
