.page{
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: var(--lum-paper);
}

.navbar{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--lum-nav-height);
  flex: 0 1 auto;
}

.content{
  margin-top: var(--lum-nav-height);
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
}
