<div class="pantheon-page">
  <div class="pantheon-header">
    <h1>The Pantheons of Luminia</h1>
  </div>

  <div class="pantheon-summary">
    <mat-card class="pantheon-card white-pantheon-summary">
      <mat-card-header><h2>White Pantheon</h2></mat-card-header>
      <mat-card-content class="pantheon-card-content">
        <button mat-stroked-button class="white-pantheon">Cara</button>
        <button mat-stroked-button class="white-pantheon">Fen'La</button>
        <button mat-stroked-button class="white-pantheon">Kaz</button>
        <button mat-stroked-button class="white-pantheon">Yuvic</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="pantheon-card grey-pantheon-summary">
      <mat-card-header><h2>Grey Pantheon</h2></mat-card-header>
      <mat-card-content class="pantheon-card-content">
        <button mat-stroked-button class="grey-pantheon">Amata</button>
        <button mat-stroked-button class="grey-pantheon">Atama</button>
        <button mat-stroked-button class="grey-pantheon">Mirna</button>
        <button mat-stroked-button class="grey-pantheon">Taoides</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="pantheon-card black-pantheon-summary">
      <mat-card-header><h2>Black Pantheon</h2></mat-card-header>
      <mat-card-content class="pantheon-card-content">
        <button mat-stroked-button class="black-pantheon">Krigon</button>
        <button mat-stroked-button class="black-pantheon">Lokaine</button>
        <button mat-stroked-button class="black-pantheon">Vak'Nor</button>
        <button mat-stroked-button class="black-pantheon">Vex</button>
      </mat-card-content>
    </mat-card>
  </div>

  <!--WHITE PANTHEON-->
  <section class="standard-to-white">
    <div class="sub-title-down">
      <h2>White Pantheon</h2>
    </div>
  </section>
  <div class="white-pantheon">
    <div class="pantheon-display">
      <img src="../../../assets/images/pantheon/fenla-avatar.png" class="big">
      <mat-card class="big"></mat-card>
      <img src="../../../assets/images/pantheon/fenla-icon.png">
    </div>
    <section class="divider-up"></section>
    <div class="pantheon-display">
      <img src="../../../assets/images/pantheon/fenla-icon.png">
      <mat-card class="big"></mat-card>
      <img src="../../../assets/images/pantheon/fenla-avatar.png" class="big2">
    </div>
  </div>

  <!--GREY PANTHEON-->
  <section class="white-to-gray">
    <div class="sub-title-down">
      <h2>Grey Pantheon</h2>
    </div>
  </section>
  <div class="grey-pantheon">Grey pantheon</div>

   <!--BLACK PANTHEON-->
  <section class="grey-to-black">
    <div class="sub-title-down">
      <h2>Black Pantheon</h2>
    </div>
  </section>
  <div class="black-pantheon">Black pantheon</div>
</div>
