.page{
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #2C2B25;
}

.gemstone-stats-div{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 5px;
}

.all-graph-buttons{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.timeline-button{
  width: 110px;
  background-color: #F8F8F2;
  color: #2C2B25;
}

.active{
  background-color: #bdbbb0;
  color: #2C2B25;
}

.loading{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-card{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 50px;
  column-gap: 20px;
  background-color: #FAFAF6;
  padding: 10px;
}

.spinner-color{
  --mdc-circular-progress-active-indicator-color: #2C2B25;
}

.error{
  font-family: "Titan One";
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  width: 100%;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #2C2B25;
  background-image: url("../../assets/images/decorations/not-found.png");
  background-repeat: no-repeat;
  background-position: center;
}
