<div *ngIf="isLoading" class="loading">
  <mat-card mat-card appearance="outlined">
    <div class="loading-card">
      <div>Loading Gemstone Exchange</div>
      <mat-spinner class="spinner-color" [diameter]="30"></mat-spinner>
    </div>
  </mat-card>
</div>
<div *ngIf="hasError" class="error">
  Gemstone Exchange is currently not available
</div>
<div *ngIf="!isLoading && !hasError">
  <div class="page-header">
    <h1>Gemstone Exchange</h1>
  </div>
  <div class="page">
    <div class="gemstone-stats-div">
    <div *ngFor="let statCard of gemstoneStatCards">
      <gemstone-stats-card
        [color]="statCard.color"
        [graphData]="statCard.graphData"
        [priceHistory]="statCard.priceHistory"
        *ngIf="statCard.graphData.length">
      </gemstone-stats-card>
    </div>
    </div>
    <div class="sub-title-down"><h2>All Gemstone Prices</h2></div>
    <div class="all-graph">
      <div class="all-graph-buttons">
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(8)" [ngClass]="{'active': selectedButton === 8}">1 Week</button>
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(92)" [ngClass]="{'active': selectedButton === 92}">1 Quarter</button>
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(365)" [ngClass]="{'active': selectedButton === 365}">1 Year</button>
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(1821)" [ngClass]="{'active': selectedButton === 1821}">5 Years</button>
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(3641)" [ngClass]="{'active': selectedButton === 3641}">10 Years</button>
        <button class="timeline-button" mat-stroked-button (click)="getGraphData(0)" [ngClass]="{'active': selectedButton === 0}">All</button>
      </div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="lineChartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [timeline]="selectedButton === 0"
        [xAxisLabel]="'Date (Day - Month - Year)'"
        [xAxisTickFormatting]="formatDate"
        [yAxisLabel]="'Gold'"
        [autoScale]="true">
        <ng-template #tooltipTemplate let-model="model">
          <div class="chart-tooltip">
            {{formatDate(model.name)}}
            <br>
            {{model.value}} gold
          </div>
        </ng-template>
        >
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
