<div class="page-header"><h1>DM Stuff</h1></div>
<div class="page">
  <mat-card appearance="outlined" class="card-group">
    <mat-card-header class="card-header">Update group position</mat-card-header>
    <mat-card-content class="card-content">
      <p>The current group position is X: {{oldX}} and Y: {{oldY}}</p>
      <form>
        <mat-form-field class="input">
          <mat-label>X position</mat-label>
          <input matInput type="number" [(ngModel)]="positionX" name="posX">
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Y position</mat-label>
          <input matInput type="number" [(ngModel)]="positionY" name="posY">
        </mat-form-field>
        <button mat-stroked-button class="submit-button" (click)="updateGroupPosition()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="card-group">
    <mat-card-header class="card-header">Update current day</mat-card-header>
    <mat-card-content class="card-content">
      <p>The current day is: {{currentDayText}}</p>
      <button mat-stroked-button class="submit-button" (click)="updateToNextDay()">Next Day</button>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="card-group">
    <mat-card-header class="card-header">Update worldmap</mat-card-header>
    <mat-card-content class="card-content">
      <p>The current folder names are: {{oldFolderName}} & {{oldFolderNameDM}} </p>
      <form>
        <mat-form-field class="input">
          <mat-label>Worldmap</mat-label>
          <input matInput type="text" [(ngModel)]="folderName" name="folderName">
        </mat-form-field>
        <button mat-stroked-button class="submit-button" (click)="updateMapFolderName()">Submit</button>
      </form>
      <form>
        <mat-form-field class="input">
          <mat-label>Worldmap DM</mat-label>
          <input matInput type="text" [(ngModel)]="folderNameDM" name="folderNameDM">
        </mat-form-field>
        <button mat-stroked-button class="submit-button" (click)="updateMapDmFolderName()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
