@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.navbar{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #cfd2cd;
}

.navTitle
{
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  z-index: 100;
}
  .navTitle:hover{
    background-color: #bdbbb0;
  }

.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titan One";
  font-size: 25px;
}
  .navbutton a {
    padding: 15px 15px 15px 15px;
    color:#353535;
    text-decoration: none;
  }

  .navbutton:hover,
  .navbutton a:hover{
    transition: background-color 0.2s ease-in;
    background-color: #bdbbb0;
    color:#5A5152;
  }

.navElements{
  margin: 0px;
  flex: auto;
  display: flex;
  justify-content: space-evenly;
}

.luminiaImg{
  width: 130px;
  padding: 1px 15px 0px;
}

.active{
  background-color: #908C7A ;
}
  .active a{
    color:#2C2B25;
  }

.version{
  font-size: 10px;
  color: #bdbbb0;
  position: absolute;
  top: 1px;
  left: 5px;
  z-index: 1;
}

/* MOBILE */
.hamburger-button{
  margin-top: 8px;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;;
}

.mobile-menu{
  display: none;
  position: absolute;
  top: 55px;
  right: 25px;
}
  .mobile-menu.open{
    display: flex;
  }

.mobile-menu-button{
  display:flex;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #353535;
  background-color: #BDBBB0;
  margin-top: 5px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #000);

}
  .mobile-menu-button a{
    font-size: 22px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Titan One";
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color:#353535;
    text-decoration: none;
  }
  .mobile-menu-button.active{
    background-color:#908C7A;
  }

.navElements.mobile{
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}
