<div class="navbar" *ngIf="!isMobileView">
  <div class="navTitle">
    <a routerLink="/map">
      <img class="luminiaImg" src="../../assets/LuminiaLogo.png" alt="Logo of Luminia">
    </a>
  </div>
  <div class="version">{{version}}</div>
  <ul class="navElements">
    <li class="navbutton" routerLinkActive="active">
      <a routerLink="/calendar">Calendar</a>
    </li>
    <li class="navbutton" routerLinkActive="active" *ngIf="isGemstoneExchangeVisible">
      <a routerLink="/gemstone-exchange">Gemstone Exchange</a>
    </li>
    <li class="navbutton" routerLinkActive="active" *ngIf="isLuminariesVisible">
      <a routerLink="/luminaries">Luminaries</a>
    </li>
    <li class="navbutton" routerLinkActive="active">
      <a routerLink="/pantheon">Pantheon</a>
    </li>
    <li class="navbutton" routerLinkActive="active">
      <a routerLink="/map">World Map</a>
    </li>
  </ul>
</div>

<!-- Navbar mobile -->
<div class="navbar" *ngIf="isMobileView">
  <div class="navTitle">
    <a routerLink="/map">
      <img class="luminiaImg" src="../../assets/LuminiaLogo.png" alt="Logo of Luminia">
    </a>
  </div>
  <div class="version">{{version}}</div>
  <button mat-stroked-button class="hamburger-button" (click)="toggleMenu()">
    <i class="fa-solid fa-bars fa-lg filterIcon"></i>
  </button>
</div>

<div class="mobile-menu" [ngClass]="{'open':isMenuOpen}">
  <ul class="navElements mobile">
    <li class="mobile-menu-button" routerLinkActive="active">
      <a routerLink="/calendar">Calendar</a>
    </li>
    <li class="mobile-menu-button" routerLinkActive="active" *ngIf="isGemstoneExchangeVisible">
      <a routerLink="/gemstone-exchange">Gemstone Exchange</a>
    </li>
    <li class="mobile-menu-button" routerLinkActive="active" *ngIf="isLuminariesVisible">
      <a routerLink="/luminaries">Luminaries</a>
    </li>
    <li class="mobile-menu-button" routerLinkActive="active">
      <a routerLink="/pantheon">Pantheon</a>
    </li>
    <li class="mobile-menu-button" routerLinkActive="active">
      <a routerLink="/map">World Map</a>
    </li>
  </ul>
</div>
