.errorSnackbarDiv{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.errorSnackbarText{
  color: #FCF6F0;
}

.errorSnackbarButton{
  color: #FCF6F0;
}

