<mat-card class="spell-card">
    <mat-card-header>
      <div class="spell-header-text">Moonerang</div>
    </mat-card-header>
    <mat-card-content>
      <div class="spell-content">
        <div class="spell-properties">
          <div class="spell-property">
            <div class="spell-property-title">Level</div>
            <div class="spell-property-text">1st</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Cast Time</div>
            <div class="spell-property-text">1 Action</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Range</div>
            <div class="spell-property-text">20 ft.</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Components</div>
            <div class="spell-property-text">V, S</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Duration</div>
            <div class="spell-property-text">Instantaneous</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">School</div>
            <div class="spell-property-text">Evocation</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Attack/Save</div>
            <div class="spell-property-text">Ranged Spell Attack</div>
          </div>
          <div class="spell-property">
            <div class="spell-property-title">Damage</div>
            <div class="spell-property-text">3d6 radiant</div>
          </div>
        </div>
        <div class="spell-description">
          You create a wave of energy shaped like a boomerang and hurl it towards a creature in range.
          Make a ranged spell attack against that creature. On a hit, the target takes 3d6 radiant damage, and the spell returns back to you.
          <br><br>
          If the spell returns, you can choose to either end the spell or to bounce it to another creature in range.
          When you end the spell on the first return, you regain your used spell slot.
          <br><br>
          When you decide to bounce the spell to another creature, you take 1d6 radiant damage for each previous target the spell has hit. After that, make another ranged spell attack against the new target.
        </div>
      </div>
  </mat-card-content>
</mat-card>
