<div class="page-header"><h1>Infernal Alchemy</h1></div>
<div class="page">
  <div class="potion-container">
    <div class="potion-cork"></div>
    <div class="potion-neck"></div>
    <div class="potion-bottle">
      <div class="potion-content">
        <div class="potion-liquid"></div>
        <div class="potion-liquid"></div>
        <div class="potion-liquid"></div>
        <div class="potion-liquid"></div>
        <div class="potion-solidliquid"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </div>
    <div class="research-points">Research Points: {{researchPoints}}</div>
    <div class="research-points-total">Total: {{researchPointsTotal}}</div>
  </div>
  <div class="coins-container">
    <img src="../../../assets/images/infernal-alchemy/coins.png">
    <div class="coins-total">Budget: {{amountOfMoney}} gold</div>
    <div class="coin-sparkle"></div>
    <div class="coin-sparkle"></div>
    <div class="coin-sparkle"></div>
    <div class="coin-sparkle"></div>
    <div class="coin-sparkle"></div>
  </div>
</div>
